.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
.item {
  height: 2rem;
}

.header {
  grid-area: header;
  background: #cde8e5;
}

.main {
  grid-area: main;
  background-color: #7ab2b2;
}

.sidebar {
  grid-area: sidebar;
  background-color: #7ab2b2;
}

.footer {
  grid-area: footer;
  background-color: #4d869c;
}
